* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #eee;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    font-size: 24px;
    color: black;
}

img {
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;   
}

a {
    text-decoration: none;
    color: black;
}

.Join {
    background-color: white; 
    border: 2px solid lightblue;
    color: lightblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
  }

  .Download {
    background-color: lightblue; 
    border: 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
  }

  .Join:hover {
    background-color: lightblue;
    color: white;
  }

  .Download:hover {
    background-color: darkblue;
  }